<div class="bg-light text-dark" *ngIf="order$|async as order">

  <p><span class="badge badge-success mr-2">ID: </span>{{order.id}}</p>
  <p><span class="badge badge-success mr-2">Name: </span>{{order.name}}</p>
  <p><span class="badge badge-success mr-2">Code: </span>{{order.code}}</p>
  <p><span class="badge badge-success mr-2">Value: </span>{{order.value}}</p>
  <p> Product List: </p>
  <ul>
    <li *ngFor="let product of order.products">
      <p><span class="badge badge-success mr-2">Product Name: </span>{{product.name}} | <span
          class="badge badge-danger mr-2"> Quantity </span>{{product.quantity}}</p>
    </li>
  </ul>
</div>
